<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <base href="https://assets.media.pledre.com/school-templates/coming_soon/">

  <title>{{ school_details.name }}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ school_details.logo }}" rel="icon">
  <link href="{{ school_details.logo }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body style="background: url({{ section_1_bg_img }}) top center no-repeat; background-size: cover">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">

      <h1>ComingSoon</h1>
      <h2>{{ sector_1_description }}</h2>
      <div class="countdown d-flex justify-content-center" data-count="{{ sector_1_date }}">
        <div>
          <h3>%d</h3>
          <h4>Days</h4>
        </div>
        <div>
          <h3>%h</h3>
          <h4>Hours</h4>
        </div>
        <div>
          <h3>%m</h3>
          <h4>Minutes</h4>
        </div>
        <div>
          <h3>%s</h3>
          <h4>Seconds</h4>
        </div>
      </div>

      <div class="social-links text-center">
        <a href="{{ sector_2_twitter }}" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="{{ sector_2_facebook }}" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="{{ sector_2_instagram }}" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="{{ sector_2_linkedin }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End #header -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>{{ sector_3_header }}</h2>
            <h3>{{ sector_3_subheader }}</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              {{ sector_3_details }}
            </p>
            <ul>
              <li><i class="bi bi-check"></i> {{ sector_3_item_1 }}</li>
              <li><i class="bi bi-check"></i> {{ sector_3_item_2  }} </li>
              <li><i class="bi bi-check"></i> {{ sector_3_item_3 }}</li>
            </ul>
            <p class="fst-italic">
              {{ sector_3_additional_info }}

            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>{{ school_details.email }}</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>{{ school_details.phone_no }}</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <a href="https://pledre.com"  target="_blank" style="text-decoration: none; color: inherit">
           Created with  <strong><span>Pledre</span></strong>. Create your virtual school today
        </a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="https://{{ school_domain }}/#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>